# {{orderSource}} Order - {{orderDescription}}

**Received:** {{receivedDate}}
**Orders:** {{#if orders}}{{#each orders}}{{#if @first}}{{else}}, {{/if}}{{#if url}}[#{{number}}]({{url}}){{else}}#{{number}}{{/if}}{{/each}}{{else}}{{orderNumbers}}{{/if}}

## Inventory Summary

| | Part Name | Storage Location | Qty | Order # | Price | Stored |
|--|-----------|------------------|-----|---------|-------|--------|
{{#each parts}}
| {{#if imageFilename}}<img src="images/{{imageFilename}}" alt="{{name}}" height="48">{{/if}} | [{{name}}](#{{kebabCase name}}) | {{storageLocation}} | {{quantity}} | {{#if orderUrl}}[{{orderNumber}}]({{orderUrl}}){{else}}{{orderNumber}}{{/if}} | ${{price}} | ☐ |
{{/each}}
<div style="break-after: page;"></div>

**Total:** {{totalPieces}} pieces across {{totalPartTypes}} part types
**Total Cost:** ${{totalCost}}

---

## Detailed Component Information

{{#each parts}}
### {{name}}

**Description:** {{description}}

{{#if specifications}}
**Specifications:**

{{#each specifications}}
- {{this}}
{{/each}}

{{/if}}
**PartsBox ID:** `{{partsboxId}}`

**PartsBox Link:** <https://partsbox.com/melkor/parts/{{partsboxId}}>

**Storage Location:** `{{storageLocation}}` (ID: `{{storageId}}`)

**{{sourceType}} Link:** <{{sourceLink}}>

---

{{/each}}
## Notes

{{#each storageNotes}}
- **{{location}}:** {{description}}
{{/each}}
- **Stored Column:** Check off (☑) when physically placed in storage location
